<ion-header>
  <ion-toolbar>
    <ion-title>Proveedores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-col size="6" size-md="3">
    <ion-button expand="full" color="primary" (click)="crearRegistro();">AGREGAR</ion-button>
  </ion-col>
  <div class="table-container">
   
    <table>
      <!-- Encabezado de la tabla -->
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Producto</th>
          <th>Dirección</th>
          <th>Teléfono</th>
          <th>Correo</th>
          <th>Estado</th>
          <th>Accion</th>
        </tr>
      </thead>
      <!-- Cuerpo de la tabla -->
      <tbody>
        <tr *ngFor="let element of proveedores">
          <!-- Datos de cada fila -->
          <td>{{ element.idProveedor }}</td>
          <td>{{ element.NombreProveedor }}</td>
          <td>{{ obtenerNombreInsumo(element.idInventarioFabrica) }}</td>
          <td>{{ element.DireccionProveedor }}</td>
          <td>{{ element.Telefono }}</td>
          <td>{{ element.Correo }}</td>
          <td>{{ element.EstatusProveedor}}</td>
          <td>
            <ion-button size="small" color="success" style="--ion-color-base: #80a943;" routerLink="/dashboard/proveedores/proveedores-edit/{{ element.idProveedor }}">Editar</ion-button>
            <ion-button size="small" color="danger" (click)="mostrarDialogoDeConfirmacion2(element)">Eliminar</ion-button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>





</ion-content>