.bienvenido-label {
    font-weight: normal; /* Aplica negrita */
    font-size: 1.2em; /* Ajusta el tamaño del texto */
  }
  
  .nombre-usuario {
    font-weight: bold; /* Restaura el peso normal del texto */
  }