<ion-header [translucent]="true">
  <ion-toolbar color="colobarDos">
    <ion-title> Inicio de Sesión </ion-title>
    <ion-icon
      name="arrow-back-outline"
      slot="start"
      [routerLink]="['/index']"
    ></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="centro">
    <img src="assets/img/LogoMrecicla.png" alt="Descripción de la imagen">
  </div>

  <form [formGroup]="formularioLogin" (ngSubmit)="enviarDatos()">
    <div class="input-box">
      <input
        type="text"
        formControlName="Correo"
        required="favor de llenar campo usuario"
      />
      <label>Usuario</label>
    </div>
    <div class="input-box">
      <input
        type="password"
        formControlName="Pass"
        required="favor de llenar campo usuario"
      />
      <label>Contraseña</label>
    </div>

    <button id="entrar" expand="full" type="submit">Iniciar Sesión</button>
  </form>
</ion-content>
